.header{
    border: solid 1px deeppink;
    display: flex;
}
.headerlink{
    width: 20%;
    display: block;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 300ms;
}
.headerlink:hover{
    opacity: 0.6;
    transform: translateX(-20px) scale(1.2);
}
.headertitle{
    width: 79%;
    color: rgb(222, 156, 0.8);
    text-align: center;
}
.sitelinks{
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.navlink{
    display: inline-block;
    text-align: center;
    padding: 1em 3em;
    border: solid 1px black;
}
.navlink:hover{
    background-color: black;
    border: dashed 1px gray;
    color: rgb(222, 156, 0.8);
}
.mainbody{
    border: solid green 1px;
    display: flex;;
}
.main_div{
    border: gold 1px solid;
    width: 70%;
}
.pagelinks{
    border: rosybrown 1px solid;
    width: 30%;
}
.main_div section{
    background-color: blanchedalmond;
    padding: 1em 2em;
}
.main_div article{
    background-color: aliceblue;
    padding: 1me 2em;
}
.pagelinks{
    padding: 1em;
}
.linknav{
    border-bottom: 1px black dotted;
    display: block;
    padding: 1em;
    text-decoration: none;
    color: palevioletred;
}
.linknav:hover{
    color: black;
    font-weight: 900;
}
img{width: 100%; display: block;}
.figureimg{
    width:70%;
    margin: 2% auto;
    position: relative;
    box-shadow: 1px 1px 5px black;
    border-radius: 6px;
    overflow: hidden;
}
.imgtitle{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
}

.contact{
    background-color: rgb(10, 30, 5);
    color:aliceblue;
    display: flex;
    padding: 30px;
}
.contactcolumn{
    width: 33%;
}
.policieslink{
    color: azure;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}
.followicon{
    width:50px;
    display: inline-block;
    padding-right: 1em;
    opacity: 0.5;
}
.followicon:hover{
    opacity: 1;    
}
